.history {
  &__card {
    border: 1px solid #ddf2fd;
    border-radius: 4px;
    margin-bottom: 10px;
    &__header {
      background: #ddf2fd;
      padding: 3px 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.96px;
      text-align: left;
    }
    &__body {
      padding: 3px 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.96px;
      text-align: left;
      color: #21232c;
    }
  }
  &__message {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    background: var(--Secondary-color, #427d9d);
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}
