.pay {
  height: 100vh;
  width: 100%;
  @include flexbox();
  align-items: center;
  justify-content: center;
  &__content__logo {
    width: 275px;
    height: 95px;
    object-fit: contain;
  }
  &__form {
    width: 390px;
    box-shadow: 0px 15px 50px 0px #427d9d33;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
  }
  &__form__header {
    background: #ddf2fd;
    font-size: 25.89px;
    font-weight: 600;
    line-height: 30.68px;
    text-align: center;
    padding: 10px;
    color: #164863;
    border-radius: 10px 10px 0px 0px;
  }
  &__form__body {
    padding: 10px;
  }
  &__form__label {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: #164863;
  }
  &__form__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: #21232c;
  }
  &__form__btn {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.96px;
    text-align: center;
    padding: 8px;
    background: #086ed6;
    color: #fff;
    border-radius: 5px;
  }
  .pay__form__qr {
    background: none;
    border: 1px solid #086ed6;
    color: #086ed6;
    transition: 0.4s;
    &:hover {
      background: #086ed6;
      color: #fff;
    }
  }
  &__form__footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: center;
    color: #666666;
    padding-top: 12px;
    b {
      color: #21232c;
    }
  }
  &__form__qr-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: center;
    text-align: center;
  }
  &__back__btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 18.96px;
    text-align: left;
    color: #086ed6;
    border: 1px solid #086ed6;
    width: 100%;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    background: #ddf2fd;
  }
}
