.status_delay_form {
  display: flex;
  gap: 5px;
  border: 1px solid #d1d1d1;
  width: 100%;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: #fff;
}
.status_delay_item {
  @include flexbox();
  :where(.css-dev-only-do-not-override-1qfezbu).ant-input-outlined:focus,
    :where(
        .css-dev-only-do-not-override-1qfezbu
      ).ant-input-outlined:focus-within {
      box-shadow: none !important;
    }
  input {
    width: 20px;
    background: none !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: #21232c !important;
    outline: none !important;
    :placeholder {
      color: #21232c !important;
    }
    
  }
}
