.dt-header {
  border-bottom: 1px solid $color-gray;
  padding: 7px 0;
  @include flexbox();
  align-items: center;
  justify-content: space-between;
  // .dt-header__actions
  &__actions {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    &-btns {
      @include flexbox();
      border-left: 1px solid #d1d1d1;
      margin-left: 10px;
    }
  }
  &__filter-btns {
    @include flexbox();
    border-right: 1px solid #d1d1d1;
    margin-right: 10px;
    padding-right: 10px;
  }
  &__page-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 23.7px;
    text-align: left;
    color: #21232c;
  }
  &__data-count {
    font-size: 16px;
    font-weight: 600;
    line-height: 18.96px;
    text-align: right;
    color: #666666;
    margin: 0 10px;
  }
  // .dt-header__tableicon
  &__tableicon {
    border-radius: 3px;
    border: 1px solid $color-gray;
    background-color: #efefef;
    @include flexbox();
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 30px;
    img {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  // .dt-header__calendaricon
  &__calendaricon {
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    background: #fff;
    @include flexbox();
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 30px;
    margin: 0 10px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -11px;
      background-color: #d1d1d1;
      height: 28px;
      width: 1px;
    }
    img {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  // .dt-header__add-btn
  &__add-btn {
    margin-left: 10px;
    height: 31px;
  }
  // .dt-header__filters
  &__filters {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
  }
  // .dt-header__allsources
  &__allsources {
    // .dt-header__allsources_select
    &_select {
    }
  }
  // .dt-header__showlist
  &__showlist {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    color: $color-gray;
    font-weight: 600;
    margin-left: 12px;
    // .dt-header__showlist_price
    &_price {
      padding: 2px 6px;
    }
    // .dt-header__showlist_gutter
    &_gutter {
      @include flexbox();
      align-items: center;
      margin-left: 2px;
      font-size: 16px;
    }
    // .dt-header__showlist_perpage
    &_perpage {
    }
    // .dt-header__showlist_allcounts
    &_allcounts {
    }
    // .dt-header__showlist_open
    &_open {
      margin-left: 10px;
      display: flex;
      width: 35px;
      height: 30px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid #d1d1d1;
      cursor: pointer;
      img {
        width: 22px;
        height: 17px;
      }
    }
  }
  &__dot {
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: $color-gray;
    font-size: 14px;
    font-weight: 600;
    margin-left: 2px;
  }
  // .dt-header__search
  &__search {
    margin-left: 10px;
  }
  // .dt-header__users
  &__users {
    @include flexbox();
    align-items: center;
    margin-left: 10px;
  }
  // .dt-header__hamburg
  &__hamburg {
    height: 31px;
    margin-left: 10px;
    img {
      height: 100%;
    }
  }
  // .dt-header__user-active
  &__user-active {
    background-color: #ddf2fd;
    padding: 0px 5px;
  }
}
.dropdown-arrows {
  &__btn {
    display: flex;
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 2px;
    background-color: transparent;
    @include anim(0.2s, 0s);
    &:hover {
      background-color: #d1d1d1;
    }
    &:disabled {
      &:hover {
        background-color: inherit;
      }
    }
  }
}
.dropdown-clear {
  color: #21232c;
  font-size: 12px;
  font-weight: 400;
  @include anim(0.3s, 0s);
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: $color-secondary;
  }
}

.dropdown-subusername {
  color: #21232c;
  font-size: 12px;
  font-weight: 400;
}

.dt-header__dropdown {
  .label-contents {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    @include anim(0.3s, 0s);
    padding: 0 5px;
    font-size: 15px;
  }
  input[type='checkbox']:checked + .label-contents {
    background-color: #ddf2fd;
  }
  .dropdown-check {
    &__item {
      margin-bottom: 2px;
      @include anim(0.3s, 0s);
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
    &__input {
      position: absolute;
      opacity: 0;
      z-index: -2;
    }
  }
}
/* ==================================================================================================================*/
// dropdown style
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 5px !important;
}
.dt-header__dropdown {
  .ant-dropdown-menu {
    min-width: 138px;
  }
  .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  .ant-dropdown-menu-item.ant-dropdown-menu-item-active {
    background-color: transparent !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}
