.dashboard {
  &__top {
    border-radius: 8px;
    background-color: #ffffff;

    height: 60px;
    padding: 15px;
    gap: 10px;
    &--title {
      color: #164863;
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      text-transform: capitalize;
    }
    &--actions {
      width: 310px;
    }
  }
  &-user {
    color: #21232c;
    font-size: 16px;
    font-weight: 500;
  }
}

/* ==================================================================================================================*/
.dashboard {
  // .dashboard__body
  &__body {
  }
  // .dashboard__row
  &__row {
    @include flexbox();
    margin: 0 -10px;
    margin-bottom: 40px;
  }
  // .dashboard__col
  &__col {
    flex: 0 0 50%;
    padding: 0 10px;
  }
  // .dashboard__analysis
  &__analysis {
  }
}
.analysis-dashboard {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 0;
  border-radius: 8px;
  // .analysis-dashboard__header
  &__header {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
  }
  // .analysis-dashboard__title
  &__title {
    color: $color4;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
  }
  // .analysis-dashboard__items
  &__items {
    padding: 5px 0px 15px;
    border-bottom: 1px solid #f0f0f0;
    &:last-child {
      border-bottom: none;
    }
  }
  // .analysis-dashboard__item
  &__item {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    width: 25%;
    span {
      color: #21232c;
      font-size: 48px;
    }
    p {
      color: #086ed6;
      font-size: 20px;
      font-weight: 400;
    }
  }
}
