.tabs {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  overflow: hidden;
  .tab-icon {
    width: 20px;
    &.default-icon {
      display: inline-block;
    }
    &.active-icon {
      display: none;
    }
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    .default-icon {
      display: none;
    }
    .active-icon {
      display: inline-block;
    }
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    border-bottom: 2px solid transparent;
    border-radius: 0;
    &:hover {
      background: linear-gradient(0deg, #ddf2fd 0%, #ddf2fd 100%), #f1f1f1;
      span {
        color: $color-gray;
      }
    }
  }
  .ant-tabs .ant-tabs-tab {
    color: $color-gray;
    font-size: 15px;
    font-weight: 400;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: #086ed6;
    background: linear-gradient(0deg, #ddf2fd 0%, #ddf2fd 100%), #f1f1f1;
    &:hover {
      span {
        color: #1677ff;
      }
    }
  }
  .ant-tabs .ant-tabs-tab-btn .ant-tabs-tab-icon:not(:last-child) {
    margin-inline-end: 10px;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    // border: none;
    padding: 7px 14px;
  }
  .ant-tabs .ant-tabs-content-holder {
    padding: 0;
    margin-top: -17px;
  }
  .ant-flex {
    padding: 7px;
    justify-content: flex-end;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-top
    > div
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-bottom
    > div
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab {
    margin-left: 0;
  }
  .ant-upload-wrapper .ant-upload-list {
    display: none;
  }
  .ant-tabs-top > .ant-tabs-nav::before,
  .ant-tabs-bottom > .ant-tabs-nav::before,
  .ant-tabs-top > div > .ant-tabs-nav::before,
  .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-color: #d1d1d1;
  }
  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: #666666;
  }
  .ant-select-filled:not(.ant-select-customize-input) .ant-select-selector {
    background: rgba(234, 234, 234, 1);
  }
}

/* ==================================================================================================================*/
.tabs-file {
  padding: 2px 10px 10px;
  &__head {
    padding: 3px 0;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;
    h2 {
      color: #aaa;
      font-size: 15px;
      font-weight: 400;
    }
  }
  &__content {
    border: 1px dashed #666;
    height: 68px;
    @include flexbox();
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #eaeaea;
  }
  &__btns {
    p {
      color: #666;
      font-size: 15px;
      font-weight: 400;
    }
  }
  &__files {
    margin-top: 10px;
    .file-item {
      @include flexbox();
      align-items: center;
      justify-content: space-between;
      height: 30px;
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      background-color: #eaeaea;
      padding: 5px;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      &__content {
        @include flexbox();
        align-items: center;
      }
      &__text {
        margin-left: 10px;
        color: #666;
        font-size: 15px;
        font-weight: 400;
      }
      &__delete {
        cursor: pointer;
        margin-top: 5px;
        margin-right: 2px;
      }
    }
  }
}
/* ================================== TASK styles ================================================================================*/
.task {
  &__row {
    @include flexbox();
  }
  &__col {
    flex: 1 1 auto;

    &:last-child {
      flex: 0 0 240px;
    }
  }
  &__calendar {
    border-left: 1px solid #d1d1d1;
    background-color: #f4f4f4;
    height: 100%;
  }
  &__feature {
    padding: 10px 35px;
  }
  &__bottom {
    padding: 5px 35px;
    background-color: #f8f8f8;
    @include flexbox();
    align-items: center;
    justify-content: flex-end;
  }
}

.feature-task {
  &.small-screen {
    .ant-radio-button-wrapper {
      padding-inline: 11px !important;
    }
  }
  &--group {
    position: relative;
    .task-icon {
      position: absolute;
      top: 50%;
      left: -26px;
      @include tr(0, -50%, 0);
      width: 17px;
      height: 17px;
      z-index: 2;
      img {
        width: 100%;
      }
    }
  }
  &__item {
    img {
      width: 15px;
      height: 15px;
    }
    span {
      color: #666666;
    }
  }
  &__dates {
    @include flexbox();
    align-items: center;
    span.mx-15 {
      color: #666666;
    }
  }
  &__date {
    @include flexbox();
    align-items: center;
  }
  &__notes {
    min-height: 50px !important;
    width: 390px;
    border-radius: 3px !important;
  }
}

/* =================================== PHONE styles ===============================================================================*/
.phone {
  &__body {
  }
  &__item {
    @include flexbox();
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 0 10px;
  }
}

.item-phone {
  &__select {
  }
  &__text {
    font-size: 15px;
    font-weight: 400;
  }
}
