.dt-header-select {
  color: $color-gray;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  @include flexbox();
  align-items: center;
  padding-left: 4px;
  position: relative;
  &_icon {
    width: 16px;
    margin-left: 4px;
  }
  &_avater {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 3px;
  }
  &_position {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
  }
}
